Repository OSOceanAcoustics/echopype, pull requests merged in 2022-10, with the labels that each got.

#829 Fix WindowsPath error with compute_Sv when run on Windows
  echopype/utils/prov.py
Labels: bug

#828 Change isel to sel to fix compute_Sv
  echopype/calibrate/calibrate_ek.py
Labels: bug

#832 Write Parsed2Zarr generated files to `temp_echopype_output/parsed2zarr_temp_files`
  echopype/convert/api.py
  echopype/convert/parsed_to_zarr.py
  echopype/echodata/echodata.py
  echopype/tests/convert/test_parsed_to_zarr.py
Labels: help wanted

#830 Add NOAA s3 bucket and reversed time files to `test_combine_echodata`
  echopype/tests/echodata/test_echodata_combine.py
Labels: tests

#826 Add minimal `ZarrCombine` test
  echopype/tests/echodata/test_zarr_combine.py
Labels: tests

#844 Add requests and aiohttp to dependency
  requirements.txt
Labels: bug

#850 Add "My files don't convert" issue template
  .github/ISSUE_TEMPLATE/my-files-don-t-convert.md
Labels: my_files_don't_convert

#854 Update documentation section on `combine_echodata`
  docs/source/api.rst
  docs/source/convert.rst
  docs/source/open-converted.ipynb
Labels: docs

#858 What's new in v0.6.3
  docs/source/whats-new.md
Labels: docs
