Repository OSOceanAcoustics/echopype, pull requests merged in 2023-09, with the labels that each got.

#1156 ci: Temporarily remove Python 3.11 [all tests ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  docs/source/data-format-changes.ipynb
  docs/source/data-format-raw.ipynb
  docs/source/data-format-sonarnetcdf4.ipynb
  docs/source/open-converted.ipynb
  docs/source/viz.ipynb
  setup.cfg
Labels: infrastructure

#1159 Add "Suggest edit" button, to edit in GitHub
  docs/source/_config.yml
Labels: docs

#1160 docs(README): Update README on contributing section
  README.md
  docs/source/_config.yml
  docs/source/index.md
Labels: docs

#1135 Changed parser in `parse_azfp.py` to maintain consistency over other parsers.
  echopype/calibrate/api.py
  echopype/calibrate/cal_params.py
  echopype/calibrate/calibrate_azfp.py
  echopype/calibrate/range.py
  echopype/convert/parse_azfp.py
  echopype/convert/set_groups_azfp.py
  echopype/convert/utils/ek_raw_parsers.py
  echopype/tests/convert/test_convert_azfp.py
  echopype/utils/misc.py
Labels: enhancement, data conversion, conventions

#1166 Added support for running individual test files
  .ci_helpers/run-test.py
  docs/source/contributing.rst
Labels: docs, enhancement

#1124 fix(commongrid): improve 'compute_MVBS' using flox [all tests ci]
  echopype/commongrid/api.py
  echopype/commongrid/mvbs.py
  echopype/consolidate/api.py
  echopype/tests/commongrid/conftest.py
  echopype/tests/commongrid/test_api.py
  echopype/tests/commongrid/test_mvbs.py
  echopype/tests/utils/test_processinglevels_integration.py
  echopype/utils/compute.py
  pytest.ini
  requirements.txt
Labels: enhancement
